*.pdf
*.docx
*.xlsx
# figs/
*.aux
*.out
*.snm
*.nav
*.log
*.vrb
*.toc
*.Rdata
*.dbf
*.cdx
*.fpt
*.tmp
cache/
auto/
exams/
assignments/
writing-assignment/2020/
writing-assignment/2021/
grades/
KEY-*

# R Shiny
rsconnect/